body
{
display:flex;
text-align:center;
justify-content:center;
align-items:center;
height:90vh;
}
.container
{
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;
    height:90vh;
}
#calci
{
height:80vh;
background-color: #2e3131;
width:40vh;
border-radius:0.8em;
}
.top-part
{
display:flex;
}
.headings
{
color:azure;
width:130px;
}
#heading
{
margin:10px 0px 1.5px 20px;
text-align: start;
}
#heading2
{
margin:0.5px 0px 0.5px 30px;
font-size:smaller;
text-align: start;
}
#heading3
{
margin:0.5px 0px 0.5px 17px;
font-size:18px;
text-align:start;
}
#solar-panel
{
margin:10px 8px 8px 8px ;
border-radius:5px;
background-color:#4d533d;
width:110px;
height:50px;
font-size:50px;
}
#screen
{
height:12vh;
background-color:#b4c585;
border-radius: 5px;
margin:20px 10px 0px 10px;
}
#keypad
{
margin-top:7vh;
height:50vh;
}
.btns
{
height: 50px;
width:50px;
margin:2.5px;
font-size:20px;
border-radius:5px;
font-weight: bolder;
background-color:#2e3131;
color:azure;
}
#cancel
{
width:80px;
}
#Power-Off
{
width:120px;
}